<tr>
	<td><%= customer.name %></td>
	<td><%= customer.contact %></td>
	<td><%= customer.email %></td>
	<td>
		<%= link_to raw("<i class='icon-eye-open'></i> View"), customer%> | 
		<%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_customer_path(id: customer.id)%> 
		
	</td>
</tr>