<% provide(:title, 'Add new project') %>
<div class="white-panel pad10">
<h3>Add new project</h3>

<div class="row">
  <div class="span5">
    <%= form_for(@project) do |f| %>
	  <%= render 'shared/error_messages', object: @project %>
	  
	  <%= f.label :company %>
      <%= collection_select :project, :company_id, user_companies, :id, :name, {}, {class: "btn"} %>
      
      <%= f.label :customer %>
      <%= collection_select :project, :customer_id, @customers, :id, :name, {}, {class: "btn"} %>
	
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :manager %>
      <%= f.text_field :manager %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :phone %>
      <%= f.text_field :phone %>      
      
      <%= f.submit "Add", class: "btn btn-primary" %>
      <%= link_to "View all projects", projects_path,  class: "btn" %>
    <% end %>
  </div>
</div>
</div>
