<% provide(:title, 'Companies') %>
<h3>Companies</h3>

<p>
	<%= link_to "Add new company", new_company_path, class: "btn btn-primary" %>
</p>

<table class="table table-hover table-bordered" style="width:600px;">
	<tr>
		<th>Name</th>		
		<th>Contact</th>
		<th>Email</th>
		<th></th>
	</tr>
  	<% @companies.each do |company| %>
  	<tr>
  		<td><%= company.name %></td>
  		<td><%= company.contact %></td>
  		<td><%= company.email %></td>
  		<td>
  			<%= link_to raw("<i class='icon-eye-open'></i> View"), company%> | 
  			<%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_company_path(id: company.id)%> 
  			
		</td>
  	</tr>
  <% end %>
</table>
  

