<%= form_for :timesheet, :html => { :id => "update_time" }, url: { :action => "update_time" }, remote:true do |g| %>		  
	 <div class="modal-body">
	    <div class="row">
		  <div class="span5">
		  	  <%= render 'shared/error_messages', object: @timesheet %>	  	  
		      <%= g.label :project %>
		      <%= collection_select :timesheet, :resource_id, @projects, :id, :name, {}, {} %>
	      	  <%= g.label :day %>
		      <div class="input-append date" id="dp4" data-date-format="yyyy-mm-dd">			      
		      	<%= g.text_field :day, :class=>"span2", :size=> 16, :readonly =>true%><span class="add-on"><i class="icon-calendar"></i></span>
	    	  </div>
		      <%= g.label :description %>
		      <%= g.text_area :description, :size => "10x5"  %>
		      <%= g.label :time %>		      
		      <%= g.select :hours, [ ['00','0'] ,['01','1'], ['02','2'], ['03','3'], ['04','4'], ['05','5'], ['06','6'], ['07','7'], ['08','8'], ['09','9'], ['10'], ['11'], ['12'], ['13'], ['14'], ['15'], ['16'], ['17'], ['18']], {}, {class:'span1'} %> :
		      <%= g.select :minutes, [['00', 0], ['15', '15'], ['30','30'], ['45','45']], {}, {class:'span1'} %> 
		      <%=hidden_field_tag :update_time_contractor_id %>		      
		      <%=hidden_field_tag :id %>
		  </div>
		</div>
	 </div>
	 <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <%= g.button "Update", class: "btn btn-primary", html:{id: "btnSubmit"}, :onclick=> 'update_time();return false;' %>
	 </div>
 <% end %>