<% content_for :head do %>
  <script type="text/javascript">
    $(function(){
	  $('#dp1').datepicker()
        .on('changeDate', function(ev){         
          $('#dp1').datepicker('hide');
        });
      $('#dp2').datepicker()
        .on('changeDate', function(ev){         
          $('#dp2').datepicker('hide');
        });
        var myDate = new Date();
		var prettyDate =myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate();
        $('#dp3').datepicker('setValue', prettyDate);
        $('#dp3').datepicker().on('changeDate', function(ev){         
          $('#dp3').datepicker('hide');
        });
  	});
    function get_time(){    	
    	$('input#time_contractor_id').val($('#contractor').val());
    	if($('#startDate').val() != '' && $('#endDate').val() != '')
    		$('#get_time').submit();
    	return false;
    } 
    function add_new_time(){    	
    	$('input#new_time_contractor_id').val($('#contractor').val());
    	$('#add_new_time').submit();
    }
    function update_time(){    	
    	$('input#update_time_contractor_id').val($('#contractor').val());
    	$('#update_time').submit();
    } 
  </script>
<% end %>
<% provide(:title, 'Timesheet') %>
<div class="white-panel pad10">
	<h3>Timesheet</h3>
	<%= @error %>
	<div class="pad10">
	  	Contractor:			
		<%= form_tag timesheets_path, id: "select_contractor" do %>
			<%= select_tag 'contractor', options_from_collection_for_select(@contractors, :id, :name, @contractor_id),
  			{onchange:  "$('#select_contractor').submit();", class: "span3"} %>
	  	<% end %>
	  	<hr />
		<div class="row">
			<%= form_for :timesheet, :url =>  {:action=>'get_time'}, :html=> {:id => "get_time"}, remote: true  do |h| %>	  		
	  		<%= hidden_field_tag :time_contractor_id%>
			<div class="input-append date span3" id="dp1" data-date-format="yyyy-mm-dd">
				Start Date:<br />	
				<%= text_field_tag 'startDate', '', {:class=>"span2", :size=> 16, :readonly=> 'true'} %><span class="add-on"><i class="icon-calendar"></i></span>
			</div>
			<div class="input-append date span3" id="dp2" data-date-format="yyyy-mm-dd">
				End Date:<br />	
				<%= text_field_tag 'endDate', '', {:class=>"span2", :size=> 16, :readonly=> 'true'} %><span class="add-on"><i class="icon-calendar"></i></span>
			</div>
			<div class="span3">
				<br />				
				<%= button_tag "Get Time", class: "btn btn-primary", :name => nil, :onclick=> 'get_time();return false;' %>
				<%= button_tag "Print Time", class: "btn btn-primary", :name => nil %>
			</div>
			<% end %>
		</div>
		<hr />
		<p>
		<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Add time</a>
		</p>		
		<table class="table table-hover table-bordered">
			<tr>
				<th>Date</th>				
				<th>Total Hours</th>		
				<th></th>
			</tr>
			<tbody id="timesheet">
				<%= render @timesheets %>
			</tbody>
		</table>
		<!-- Modal -->
		<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Add time</h3>
		  </div>
		  <div id="formNew">
		  	<%= render partial: 'form'%>
		  </div>
		</div>
		<div id="updateModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="updateModalLabel">Update time</h3>
		  </div>
		  <div id="formEdit">
		  	<%= render partial: 'edit_form'%>
		  </div>
		</div>
		
	</div>
</div>
  

