<% provide(:title, 'Vendors') %>
<h3>Vendors</h3>


<%=@live%>
<p>
	<%= form_for :vendor, :url => { :action => "select_company" } do |f| %>
		<%= link_to "Add new vendor", new_vendor_path, class: "btn btn-primary" %>
  		<%= select_tag 'company', options_from_collection_for_select(user_companies, :id, :name, @company_id),
  		{onchange:  "this.form.submit();", class: "btn span5"} %>	
  	<% end %>
</p>

<table class="table table-hover table-bordered table-nonfluid">
	<tr>
		<th>Name</th>		
		<th>Contact</th>
		<th>Email</th>
		<th></th>
	</tr>
  	<% @vendors.each do |vendor| %>
  	<tr>
  		<td><%= vendor.name %></td>
  		<td><%= vendor.contact %></td>
  		<td><%= vendor.email %></td>
  		<td>
  			<%= link_to raw("<i class='icon-eye-open'></i> View"), vendor%> | 
  			<%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_vendor_path(id: vendor.id)%> 
  			
		</td>
  	</tr>
  <% end %>
</table>
  

