<footer class="footer">
	<div class="container">		
		<p>
			<nav>
		    	<ul>
		    		<li><%= link_to "Help", help_path %></li>
			      	<li><%= link_to "About",   about_path %></li>
			      	<li><%= link_to "Contact", contact_path %></li>
			      	<li><a href="http://www.symphonize.net/">News</a></li>
			    </ul>
  			</nav>
		  	<%= link_to image_tag("poweredbysymphonize.jpg", alt: "Symphonize"), 'http://www.symphonize.net/' %>
	  	</p>
	  	<%= debug(params) if Rails.env.development? %>
	</div>
	<div style="height:100px;background-color:#000000;">
  		<p style="text-align:center;padding-top:40px;">
	  		© 2013 BYT | All Rights Reserved
  		</p>
  	</div>
</footer>